/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: #636363;

/*-- scss:rules --*/

.center {
  display: flex;
  text-align: center;
}

.big {
  font-size: 1.5em;
}

.small {
  font-size: 0.6em;
}

.blue {
  color: #26b0de;
}

.orange {
  color: #d15411;
}